body {
  background-image: linear-gradient(
    87.4deg,
    rgb(239, 220, 171) 1.9%,
    rgb(217, 131, 36) 49.7%,
    rgb(68, 54, 39) 100.5%
  );
}
#container {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(68, 54, 39);
  background-color: rgb(242, 246, 208);
  max-width: 75%;
  max-height: 75%;
  border-radius: 10px;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
header {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

form {
  padding: 0px 30px;
  display: flex;
  justify-content: center;
}
.instructions {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.instructions:focus {
  border: none;
  outline: none;
}
.button {
  margin-left: 10px;
  background-color: #e4af67;
  color: rgb(242, 246, 208);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 100px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.button:hover {
  cursor: pointer;
  color: #e4af67;
  background-color: rgb(239, 220, 171);
}
.poem {
  font-size: 24px;
  padding: 40px 65px 0px 65px;
  line-height: 1.5;
}

.poem strong {
  color: rgb(217, 131, 36);
}
footer {
  font-size: 12px;
  color: rgb(68, 54, 39);
  text-align: center;
  padding-top: 210px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  color: rgb(217, 131, 36);
}
